{% extends "base.html.twig" %}

{% block body %}
    <div class="d-flex">
        <h1>Creer un Evenement</h1>
    </div>
    
    <div>
        {{form_start(form)}}
            {{form_widget(form)}}

            <button class="btn btn-primary" formnovalidate>
                Creer l'evenement
            </button>
        {{form_end(form)}}
    </div>
    
{% endblock %}